<!DOCTYPE html>
<html>
   <head>
      <title>Configuration Drift</title>
   </head>

   <body>
      <table border = "1" cellpadding = "5" cellspacing = "5">
         <tr>
            <th>Hostname</th>
            <th>Before</th>
            <th>After</th>
         </tr>